# Web Framework
Flask==2.1.1
gunicorn==20.0.4

# Image Processing
opencv-python-headless==4.8.0.76
numpy==1.23.0

# Dependencies
werkzeug==2.1.1
requests==2.32.3
python-dotenv==1.0.1
tqdm==4.66.6
